h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 56.25px;
}

h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
}

h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

p,
.body-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.container {
    padding-left: 70px;
    padding-right: 70px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.primary-button,
.secondary-button {
    font-weight: 700;
    line-height: 19px;
    text-transform: uppercase;
    cursor: pointer;
}

.primary-button {
    font-size: 16px;
}

.primary-button,
.secondary-button:hover {
    color: #FFFFFF;
    background: var(--grey);
}

.secondary-button {
    border: 1px solid #323334;
    transition: all 300ms ease;
    font-size: 14px;
    color: #323334;
}